In [1]:
import pandas as pd
pd.set_option('max_rows', 10)
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import statsmodels.api as statsmodels # useful stats package with regression functions
import seaborn as sns #plotting package

In [2]:
wdi_data = pd.read_csv("WDIData.csv", delimiter=",")
wdi_codebook = pd.read_csv("WDISeries.csv", delimiter=",")

In [3]:
merged = pd.merge(wdi_data, wdi_codebook, how='inner',
                  left_on='Indicator Name', right_on='Indicator Name')
merged['Topic']

0         Environment: Energy production & use
1         Environment: Energy production & use
2         Environment: Energy production & use
3         Environment: Energy production & use
4         Environment: Energy production & use
                          ...
380109                    Health: Risk factors
380110                    Health: Risk factors
380111                    Health: Risk factors
380112                    Health: Risk factors
380113                    Health: Risk factors
Name: Topic, Length: 380114, dtype: object

In [5]:
#Checking which indicators don't have a defined Topic to see if it's okay to omit them for our study
#df1 = merged[merged['Topic'].isnull()]
#display(set(df1["Indicator Name"]))

In [6]:
#showing all the available columns 
pd.set_option('max_columns', None)
print(merged.columns.tolist())

['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', 'Unnamed: 66', 'Series Code', 'Topic', 'Short definition', 'Long definition', 'Unit of measure', 'Periodicity', 'Base Period', 'Other notes', 'Aggregation method', 'Limitations and exceptions', 'Notes from original source', 'General comments', 'Source', 'Statistical concept and methodology', 'Development relevance', 'Related source links', 'Other web links', 'Related indicators', 'License Type', 'Unnamed: 20']

In [36]:
education_df = merged.loc[merged["Topic"].isin(['Education: Outcomes','Education: Participation'])]

In [37]:
#checking out all of the indicators
print(set(education_df["Indicator Name"]))

{'School enrollment, secondary, male (% gross)', 'School enrollment, tertiary (gross), gender parity index (GPI)', 'Literacy rate, youth total (% of people ages 15-24)', 'Educational attainment, at least completed upper secondary, population 25+, male (%) (cumulative)', 'Primary completion rate, total (% of relevant age group)', 'Educational attainment, at least completed short-cycle tertiary, population 25+, male (%) (cumulative)', "Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)", 'School enrollment, tertiary (% gross)', 'Educational attainment, at least completed lower secondary, population 25+, female (%) (cumulative)', 'School enrollment, primary, private (% of total primary)', 'Educational attainment, at least completed post-secondary, population 25+, male (%) (cumulative)', 'Lower secondary completion rate, male (% of relevant age group)', 'Primary completion rate, female (% of relevant age group)', 'School enrollment, preprimary, female (% gross)', 'Educational attainment, at least completed lower secondary, population 25+, male (%) (cumulative)', "Educational attainment, at least Master's or equivalent, population 25+, male (%) (cumulative)", 'School enrollment, secondary, private (% of total secondary)', 'Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative)', 'Primary education, pupils', 'Secondary education, pupils', 'School enrollment, secondary (% net)', 'Literacy rate, youth male (% of males ages 15-24)', 'Literacy rate, adult total (% of people ages 15 and above)', 'School enrollment, secondary, female (% net)', 'Secondary education, general pupils', 'Children out of school, primary, female', 'Educational attainment, at least completed upper secondary, population 25+, female (%) (cumulative)', 'School enrollment, preprimary (% gross)', 'Adjusted net enrollment rate, primary (% of primary school age children)', 'School enrollment, primary (% net)', 'Secondary education, duration (years)', 'Educational attainment, at least completed short-cycle tertiary, population 25+, female (%) (cumulative)', 'Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)', 'Primary completion rate, male (% of relevant age group)', 'School enrollment, primary and secondary (gross), gender parity index (GPI)', 'Secondary education, general pupils (% female)', "Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)", 'Lower secondary completion rate, female (% of relevant age group)', 'Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)', 'Compulsory education, duration (years)', 'Lower secondary completion rate, total (% of relevant age group)', 'Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)', 'School enrollment, primary, male (% net)', 'Children out of school, primary, male', 'Primary education, pupils (% female)', 'Educational attainment, at least completed primary, population 25+ years, female (%) (cumulative)', 'Educational attainment, at least completed primary, population 25+ years, male (%) (cumulative)', 'School enrollment, secondary (% gross)', 'Educational attainment, Doctoral or equivalent, population 25+, male (%) (cumulative)', 'Children out of school (% of primary school age)', 'School enrollment, tertiary, female (% gross)', 'Adolescents out of school (% of lower secondary school age)', 'Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)', 'School enrollment, primary (% gross)', 'Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)', 'Literacy rate, adult female (% of females ages 15 and above)', 'Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative)', 'Literacy rate, youth female (% of females ages 15-24)', 'Children out of school, female (% of female primary school age)', 'School enrollment, secondary, female (% gross)', 'School enrollment, secondary (gross), gender parity index (GPI)', 'Adjusted net enrollment rate, primary, female (% of primary school age children)', 'Literacy rate, adult male (% of males ages 15 and above)', 'Adjusted net enrollment rate, primary, male (% of primary school age children)', 'School enrollment, primary, male (% gross)', 'Children out of school, primary', 'Secondary education, vocational pupils (% female)', "Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)", 'Literacy rate, youth (ages 15-24), gender parity index (GPI)', 'Adolescents out of school, male (% of male lower secondary school age)', 'School enrollment, primary, female (% net)', 'School enrollment, primary, female (% gross)', 'Children out of school, male (% of male primary school age)', 'School enrollment, primary (gross), gender parity index (GPI)', 'Adolescents out of school, female (% of female lower secondary school age)', 'Secondary education, pupils (% female)', 'School enrollment, preprimary, male (% gross)', 'Secondary education, vocational pupils', 'School enrollment, tertiary, male (% gross)', 'Educational attainment, at least completed post-secondary, population 25+, female (%) (cumulative)', "Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative)", "Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)", 'Primary education, duration (years)', 'School enrollment, secondary, male (% net)'}

In [39]:
long_df = education_df.melt(id_vars=["Country Name", "Indicator Name",'Country Code', 'Topic', 'Indicator Code'], 
        var_name="Date")
long_df.describe()

,Country Name,Indicator Name,Country Code,Topic,Indicator Code,Date,value
count,1832208,1832208,1832208,1832208,1832208,1832208,607883
unique,266,84,266,2,84,82,344405
top,Sint Maarten (Dutch part),"Secondary education, duration (years)",VEN,Education: Participation,SE.SEC.UNER.LO.MA.ZS,1985,Annual
freq,6888,21812,6888,959728,21812,22344,22344

In [33]:
#checking to see if any of the rows have non-NA values
#selected_rows = long_df[~long_df['value'].isnull()]
#print(selected_rows)

In [40]:
long_df.to_csv(r'C:\Users\marinaberdikhanova\Desktop\DS4SG-Global-Inequality\Data\Education.csv', index = False)