In [3]:
import pandas as pd
#pd.set_option('max_rows', 10)
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import statsmodels.api as statsmodels # useful stats package with regression functions
import seaborn as sns #plotting package
import zipfile

In [5]:
# Importing the data from https://datacatalog.worldbank.org/search/dataset/0037712/World-Development-Indicators
# ONLY RUN ONCE


#from urllib.request import urlopen
#from io import BytesIO
#from zipfile import ZipFile

#pathname = "/Users/feliphlvo/Documents/Minerva/2022 Fall/Tutorial/DS4SG-Global-Inequality"
pathname = "/Users/norika_machome/GitHub/DS4SG-Global-Inequality"

#def download_and_unzip(url, extract_to='.'):
#    print("Downloading")
#    http_response = urlopen(url)
#    zipfile = ZipFile(BytesIO(http_response.read()))
#    print("Unziping")
#    zipfile.extractall(path=extract_to)
#    print("Done")
#    
#download_and_unzip("https://databank.worldbank.org/data/download/WDI_csv.zip",
#                   pathname+"/Data/Raw")

In [6]:
wdi_data = pd.read_csv(pathname + "/Data/Raw/WDIData.csv", delimiter=",")
#wdi_codebook = pd.read_csv(pathname+"/Data/Raw/WDISeries.csv", delimiter=",")

In [9]:
def create_df_indicator(indicator_code, write_to = None):
    # Select only indicators from topics
    topic_df = wdi_data.loc[wdi_data["Indicator Code"].isin(indicator_code)]
    # Melt dataset (making all date columns one variable)
    long_indicator_df = topic_df.melt(id_vars=["Country Name",'Country Code','Indicator Code',"Indicator Name"], 
        var_name="Date")
    long_indicator_df = long_indicator_df[long_indicator_df["value"].notna()]
    long_indicator_df = long_indicator_df[long_indicator_df["Date"]!= "Unnamed: 66"]
    long_indicator_df["Date"] = pd.to_numeric(long_indicator_df["Date"])
    
    # Write to csv
    if write_to:
        long_indicator_df.to_csv(pathname + "/Data/Final/Health/" + write_to + ".csv", index = False)
        print("Written to:", pathname + "/Data/Final/Health/" + write_to + ".csv")
    return long_indicator_df

test_df = create_df_indicator(["NY.GDP.PCAP.CD","SP.DYN.LE00.IN","SP.POP.TOTL", "SH.XPD.OOPC.CH.ZS", "SH.MED.PHYS.ZS",
                                ".REG.BRTH.UR.ZS", ".REG.BRTH.RU.ZS", ".REG.BRTH.ZS","SH.STA.SUIC.P5","SH.STA.SUIC.FE.P5","SH.STA.SUIC.MA.P5","SH.STA.SMSS.ZS",
                                "SP.REG.BRTH.ZS","SP.REG.BRTH.MA.ZS","SP.REG.BRTH.FE.ZS","SP.REG.BRTH.UR.ZS","SP.REG.BRTH.RU.ZS"],"health_indicators")
test_df = test_df[test_df['value'].notna()]
test_df

Written to: /Users/norika_machome/GitHub/DS4SG-Global-Inequality/Data/Final/Health/health_indicators.csv

,Country Name,Country Code,Indicator Code,Indicator Name,Date,value
5,Africa Eastern and Southern,AFE,NY.GDP.PCAP.CD,GDP per capita (current US$),1960,1.627263e+02
6,Africa Eastern and Southern,AFE,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",1960,4.271605e+01
10,Africa Eastern and Southern,AFE,SP.POP.TOTL,"Population, total",1960,1.308368e+08
19,Africa Western and Central,AFW,NY.GDP.PCAP.CD,GDP per capita (current US$),1960,1.079307e+02
20,Africa Western and Central,AFW,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",1960,3.720538e+01
...,...,...,...,...,...,...
230856,"Yemen, Rep.",YEM,SP.POP.TOTL,"Population, total",2021,3.049064e+07
230865,Zambia,ZMB,NY.GDP.PCAP.CD,GDP per capita (current US$),2021,1.120630e+03
230870,Zambia,ZMB,SP.POP.TOTL,"Population, total",2021,1.892066e+07
230879,Zimbabwe,ZWE,NY.GDP.PCAP.CD,GDP per capita (current US$),2021,1.737174e+03
230884,Zimbabwe,ZWE,SP.POP.TOTL,"Population, total",2021,1.509217e+07

In [5]:
def create_df_indicator(indicator_code, write_to = None):
    # Select only indicators from topics
    topic_df = wdi_data.loc[wdi_data["Indicator Code"].isin(indicator_code)]
    # Melt dataset (making all date columns one variable)
    long_indicator_df = topic_df.melt(id_vars=["Country Name",'Country Code','Indicator Code',"Indicator Name"], 
        var_name="Date")
    long_indicator_df = long_indicator_df[long_indicator_df["value"].notna()]
    long_indicator_df = long_indicator_df[long_indicator_df["Date"]!= "Unnamed: 66"]
    long_indicator_df["Date"] = pd.to_numeric(long_indicator_df["Date"])
    
    # Write to csv
    if write_to:
        long_indicator_df.to_csv(pathname + "/Data/Final/" + write_to + ".csv", index = False)
        print("Written to:", pathname + "/Data/Final/" + write_to + ".csv")
    return long_indicator_df

test_df = create_df_indicator(["SL.UEM.NEET.ZS","SE.SEC.TCAQ.ZS", "SP.DYN.LE00.IN","SP.DYN.LE00.FE.IN","SP.DYN.LE00.MA.IN", "SP.REG.BRTH.ZS","SI.DST.FRST.10",'SI.DST.10TH.10',"NY.GDP.PCAP.CD","AG.LND.FRST.K2","EG.ELC.COAL.ZS"],"indicators")
test_df = test_df[test_df['value'].notna()]
test_df

Written to: /Users/norika_machome/GitHub/DS4SG-Global-Inequality/Data/Final/indicators.csv

,Country Name,Country Code,Indicator Code,Indicator Name,Date,value
3,Africa Eastern and Southern,AFE,NY.GDP.PCAP.CD,GDP per capita (current US$),1960,162.726325
6,Africa Eastern and Southern,AFE,SP.DYN.LE00.FE.IN,"Life expectancy at birth, female (years)",1960,44.300571
7,Africa Eastern and Southern,AFE,SP.DYN.LE00.MA.IN,"Life expectancy at birth, male (years)",1960,41.177958
8,Africa Eastern and Southern,AFE,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",1960,42.716053
14,Africa Western and Central,AFW,NY.GDP.PCAP.CD,GDP per capita (current US$),1960,107.930722
...,...,...,...,...,...,...
181371,West Bank and Gaza,PSE,NY.GDP.PCAP.CD,GDP per capita (current US$),2021,3663.969055
181377,West Bank and Gaza,PSE,SL.UEM.NEET.ZS,"Share of youth not in education, employment or...",2021,31.510000
181382,"Yemen, Rep.",YEM,NY.GDP.PCAP.CD,GDP per capita (current US$),2021,690.759273
181393,Zambia,ZMB,NY.GDP.PCAP.CD,GDP per capita (current US$),2021,1120.630171
181404,Zimbabwe,ZWE,NY.GDP.PCAP.CD,GDP per capita (current US$),2021,1737.173977

In [8]:
test_df['Indicator Name'].unique()

array(['GDP per capita (current US$)',
       'Life expectancy at birth, total (years)', 'Population, total',
       'Physicians (per 1,000 people)',
       'Out-of-pocket expenditure (% of current health expenditure)',
       'Suicide mortality rate (per 100,000 population)',
       'Suicide mortality rate, female (per 100,000 female population)',
       'Suicide mortality rate, male (per 100,000 male population)',
       'People using safely managed sanitation services (% of population)',
       'Completeness of birth registration (%)',
       'Completeness of birth registration, rural (%)',
       'Completeness of birth registration, urban (%)',
       'Completeness of birth registration, female (%)',
       'Completeness of birth registration, male (%)'], dtype=object)

### Unrelated stuff

Creating Separate datasets for each type of indicator (facilitates understanding and reduces size for upload to Github)

In [ ]:
def create_df_topic(topics, write_to = None):
    # Select only indicators from topics
    topic_df = merged.loc[merged["Topic"].isin(topics)]
    # Melt dataset (making all date columns one variable)
    long_topic_df = topic_df.melt(id_vars=["Country Name", "Indicator Name",'Country Code', 'Topic', 'Indicator Code'], 
        var_name="Date")
    # Write to csv
    if write_to:
        long_topic_df.to_csv(pathname2 + "/Data/Final/" + write_to + ".csv", index = False)
        print("Written to:", pathname2 + "/Data/Final/" + write_to + ".csv")
    return long_topic_df

In [ ]:
#education_df = create_df_topic(['Education: Outcomes','Education: Participation'], "Education")
#poverty_df = create_df_topic(['Poverty: Income distribution','Poverty: Poverty rates'], "Poverty")
#mortality_df = create_df_topic(['Health: Mortality'], "Mortality")
#labor_df = create_df_topic(["Social Protection & Labor: Unemployment", "Social Protection & Labor: Labor force structure"], "Labor")
#environmnet_df = create_df_topic(["Environment: Land use", "Environment: Emissions"], "Environment")

In [ ]:
#checking out all of the indicators
#print(set(education_df["Indicator Name"]))

{'School enrollment, primary, male (% gross)', 'School enrollment, primary, female (% net)', 'Adjusted net enrollment rate, primary (% of primary school age children)', 'Adjusted net enrollment rate, primary, female (% of primary school age children)', 'Primary completion rate, female (% of relevant age group)', 'School enrollment, primary, female (% gross)', 'Children out of school, primary, male', 'Children out of school, male (% of male primary school age)', 'Secondary education, general pupils (% female)', 'Secondary education, pupils', 'School enrollment, secondary, female (% net)', 'School enrollment, primary (% net)', 'School enrollment, secondary (% gross)', 'Literacy rate, adult total (% of people ages 15 and above)', 'Children out of school (% of primary school age)', 'Primary education, duration (years)', 'Educational attainment, at least completed primary, population 25+ years, male (%) (cumulative)', 'Educational attainment, at least completed upper secondary, population 25+, female (%) (cumulative)', 'School enrollment, secondary, male (% gross)', 'Literacy rate, adult female (% of females ages 15 and above)', 'Literacy rate, youth male (% of males ages 15-24)', 'School enrollment, tertiary, female (% gross)', 'School enrollment, primary and secondary (gross), gender parity index (GPI)', 'School enrollment, tertiary, male (% gross)', 'Literacy rate, adult male (% of males ages 15 and above)', 'Adjusted net enrollment rate, primary, male (% of primary school age children)', 'Secondary education, vocational pupils', 'Secondary education, duration (years)', 'School enrollment, secondary, private (% of total secondary)', "Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative)", "Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)", 'Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative)', 'School enrollment, secondary, female (% gross)', 'Educational attainment, at least completed lower secondary, population 25+, female (%) (cumulative)', 'Educational attainment, at least completed lower secondary, population 25+, male (%) (cumulative)', 'Lower secondary completion rate, male (% of relevant age group)', 'Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)', 'Children out of school, primary, female', 'Educational attainment, at least completed post-secondary, population 25+, male (%) (cumulative)', 'Adolescents out of school (% of lower secondary school age)', 'School enrollment, primary, male (% net)', 'Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)', 'Lower secondary completion rate, total (% of relevant age group)', 'Educational attainment, at least completed upper secondary, population 25+, male (%) (cumulative)', 'Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative)', 'Literacy rate, youth total (% of people ages 15-24)', 'Literacy rate, youth (ages 15-24), gender parity index (GPI)', 'School enrollment, secondary (gross), gender parity index (GPI)', 'School enrollment, primary (gross), gender parity index (GPI)', "Educational attainment, at least Master's or equivalent, population 25+, male (%) (cumulative)", 'Educational attainment, at least completed post-secondary, population 25+, female (%) (cumulative)', 'School enrollment, preprimary, female (% gross)', 'School enrollment, primary, private (% of total primary)', 'Secondary education, vocational pupils (% female)', 'Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)', "Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)", 'Primary completion rate, total (% of relevant age group)', 'School enrollment, tertiary (% gross)', 'Educational attainment, at least completed short-cycle tertiary, population 25+, female (%) (cumulative)', 'Primary education, pupils (% female)', 'Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)', 'Secondary education, pupils (% female)', 'Educational attainment, at least completed primary, population 25+ years, female (%) (cumulative)', 'Lower secondary completion rate, female (% of relevant age group)', 'Adolescents out of school, male (% of male lower secondary school age)', 'Adolescents out of school, female (% of female lower secondary school age)', 'Secondary education, general pupils', 'School enrollment, preprimary, male (% gross)', 'Primary education, pupils', "Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)", 'Compulsory education, duration (years)', 'Educational attainment, at least completed short-cycle tertiary, population 25+, male (%) (cumulative)', 'Primary completion rate, male (% of relevant age group)', 'School enrollment, tertiary (gross), gender parity index (GPI)', 'Literacy rate, youth female (% of females ages 15-24)', "Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)", 'Children out of school, female (% of female primary school age)', 'School enrollment, primary (% gross)', 'Children out of school, primary', 'Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)', 'Educational attainment, Doctoral or equivalent, population 25+, male (%) (cumulative)', 'School enrollment, secondary, male (% net)', 'School enrollment, secondary (% net)', 'School enrollment, preprimary (% gross)'}

In [ ]:
education_df.describe()

,Country Name,Indicator Name,Country Code,Topic,Indicator Code,Date,value
count,1832208,1832208,1832208,1832208,1832208,1832208,607883
unique,266,84,266,2,84,82,344405
top,Africa Eastern and Southern,"Adjusted net enrollment rate, primary (% of pr...",AFE,Education: Participation,SE.PRM.TENR,1960,CC BY-4.0
freq,6888,21812,6888,959728,21812,22344,22344

In [ ]:
#checking to see if any of the rows have non-NA values
#selected_rows = long_df[~long_df['value'].isnull()]
#print(selected_rows)
len(education_df)

1832208

In [ ]:
education_df

,Country Name,Indicator Name,Country Code,Topic,Indicator Code,Date,value
0,Africa Eastern and Southern,"Adjusted net enrollment rate, primary (% of pr...",AFE,Education: Participation,SE.PRM.TENR,1960,NaN
1,Africa Western and Central,"Adjusted net enrollment rate, primary (% of pr...",AFW,Education: Participation,SE.PRM.TENR,1960,NaN
2,Arab World,"Adjusted net enrollment rate, primary (% of pr...",ARB,Education: Participation,SE.PRM.TENR,1960,NaN
3,Caribbean small states,"Adjusted net enrollment rate, primary (% of pr...",CSS,Education: Participation,SE.PRM.TENR,1960,NaN
4,Central Europe and the Baltics,"Adjusted net enrollment rate, primary (% of pr...",CEB,Education: Participation,SE.PRM.TENR,1960,NaN
...,...,...,...,...,...,...,...
1832203,Virgin Islands (U.S.),"Secondary education, vocational pupils (% female)",VIR,Education: Participation,SE.SEC.ENRL.VO.FE.ZS,Unnamed: 20,NaN
1832204,West Bank and Gaza,"Secondary education, vocational pupils (% female)",PSE,Education: Participation,SE.SEC.ENRL.VO.FE.ZS,Unnamed: 20,NaN
1832205,"Yemen, Rep.","Secondary education, vocational pupils (% female)",YEM,Education: Participation,SE.SEC.ENRL.VO.FE.ZS,Unnamed: 20,NaN
1832206,Zambia,"Secondary education, vocational pupils (% female)",ZMB,Education: Participation,SE.SEC.ENRL.VO.FE.ZS,Unnamed: 20,NaN
1832207,Zimbabwe,"Secondary education, vocational pupils (% female)",ZWE,Education: Participation,SE.SEC.ENRL.VO.FE.ZS,Unnamed: 20,NaN