### How to separate countries and regions

In [1]:
import pandas as pd

### Dictionaries

In [2]:
ISOs_Country = {
'ABW':'Aruba', 'AFG':'Afghanistan','AGO':'Angola','AIA':'Anguilla','ALA':'Åland Islands','ALB':'Albania',
'AND':'Andorra','ARE':'United Arab Emirates','ARG':'Argentina','ARM':'Armenia','ASM':'American Samoa',
'ATA':'Antarctica','ATF':'French Southern Territories','ATG':'Antigua and Barbuda','AUS':'Australia',
'AUT':'Austria','AZE':'Azerbaijan','BDI':'Burundi','BEL':'Belgium','BEN':'Benin',
'BES':'Bonaire, Sint Eustatius and Saba','BFA':'Burkina Faso','BGD':'Bangladesh','BGR':'Bulgaria',
'BHR':'Bahrain','BHS':'Bahamas','BIH':'Bosnia and Herzegovina','BLM':'Saint Barthélemy','BLR':'Belarus',
'BLZ':'Belize','BMU':'Bermuda','BOL':'Bolivia (Plurinational State of)','BRA':'Brazil','BRB':'Barbados',
'BRN':'Brunei Darussalam','BTN':'Bhutan','BVT':'Bouvet Island','BWA':'Botswana','CAF':'Central African Republic',
'CAN':'Canada','CCK':'Cocos (Keeling) Islands','CHE':'Switzerland','CHL':'Chile','CHN':'China',
'CIV':'Côte d\'Ivoire','CMR':'Cameroon','COD':'Democratic Republic of the Congo','COG':'Congo',
'COK':'Cook Islands','COL':'Colombia','COM':'Comoros','CPV':'Cabo Verde','CRI':'Costa Rica','CUB':'Cuba',
'CUW':'Curaçao','CXR':'Christmas Island','CYM':'Cayman Islands','CYP':'Cyprus','CZE':'Czechia',
'DEU':'Germany','DJI':'Djibouti','DMA':'Dominica','DNK':'Denmark','DOM':'Dominican Republic','DZA':'Algeria',
'ECU':'Ecuador','EGY':'Egypt','ERI':'Eritrea','ESH':'Western Sahara','ESP':'Spain','EST':'Estonia',
'ETH':'Ethiopia','FIN':'Finland','FJI':'Fiji','FLK':'Falkland Islands (Malvinas)','FRA':'France',
'FRO':'Faroe Islands','FSM':'Micronesia (Federated States of)','GAB':'Gabon',
'GBR':'United Kingdom of Great Britain and Northern Ireland','GEO':'Georgia','GGY':'Guernsey','GHA':'Ghana',
'GIB':'Gibraltar','GIN':'Guinea','GLP':'Guadeloupe','GMB':'Gambia','GNB':'Guinea-Bissau',
'GNQ':'Equatorial Guinea','GRC':'Greece','GRD':'Grenada','GRL':'Greenland','GTM':'Guatemala',
'GUF':'French Guiana','GUM':'Guam','GUY':'Guyana','HKG':'Hong Kong','HMD':'Heard Island and McDonald Islands',
'HND':'Honduras','HRV':'Croatia','HTI':'Haiti','HUN':'Hungary','IDN':'Indonesia','IMN':'Isle of Man',
'IND':'India','IOT':'British Indian Ocean Territory','IRL':'Ireland','IRN':'Iran (Islamic Republic of)',
'IRQ':'Iraq','ISL':'Iceland','ISR':'Israel','ITA':'Italy','JAM':'Jamaica','JEY':'Jersey','JOR':'Jordan',
'JPN':'Japan','KAZ':'Kazakhstan','KEN':'Kenya','KGZ':'Kyrgyzstan','KHM':'Cambodia','KIR':'Kiribati',
'KNA':'Saint Kitts and Nevis','KOR':'Republic of Korea','KWT':'Kuwait','LAO':'Lao People\'s Democratic Republic',
'LBN':'Lebanon','LBR':'Liberia','LBY':'Libya','LCA':'Saint Lucia', 'LIE':'Liechtenstein','LKA':'Sri Lanka',
'LSO':'Lesotho','LTU':'Lithuania','LUX':'Luxembourg','LVA':'Latvia','MAC':'Macao',
'MAF':'Saint Martin (French part)','MAR':'Morocco','MCO':'Monaco','MDA':'Republic of Moldova',
'MDG':'Madagascar','MDV':'Maldives','MEX':'Mexico','MHL':'Marshall Islands','MKD':'North Macedonia',
'MLI':'Mali','MLT':'Malta','MMR':'Myanmar','MNE':'Montenegro','MNG':'Mongolia','MNP':'Northern Mariana Islands',
'MOZ':'Mozambique','MRT':'Mauritania','MSR':'Montserrat','MTQ':'Martinique','MUS':'Mauritius','MWI':'Malawi',
'MYS':'Malaysia','MYT':'Mayotte','NAM':'Namibia','NCL':'New Caledonia','NER':'Niger','NFK':'Norfolk Island',
'NGA':'Nigeria','NIC':'Nicaragua','NIU':'Niue','NLD':'Netherlands','NOR':'Norway','NPL':'Nepal','NRU':'Nauru',
'NZL':'New Zealand','OMN':'Oman','PAK':'Pakistan','PAN':'Panama','PCN':'Pitcairn','PER':'Peru','PHL':'Philippines',
'PLW':'Palau','PNG':'Papua New Guinea','POL':'Poland','PRI':'Puerto Rico','PRK':'Democratic People\'s Republic of Korea',
'PRT':'Portugal','PRY':'Paraguay','PSE':'Palestine, State of','PYF':'French Polynesia','QAT':'Qatar','REU':'Réunion',
'ROU':'Romania','RUS':'Russian Federation','RWA':'Rwanda','SAU':'Saudi Arabia','SDN':'Sudan','SEN':'Senegal',
'SGP':'Singapore','SGS':'South Georgia and the South Sandwich Islands','SHN':'Saint Helena, Ascension and Tristan da Cunha',
'SJM':'Svalbard and Jan Mayen','SLB':'Solomon Islands','SLE':'Sierra Leone','SLV':'El Salvador','SMR':'San Marino',
'SOM':'Somalia','SPM':'Saint Pierre and Miquelon','SRB':'Serbia','SSD':'South Sudan','STP':'Sao Tome and Principe',
'SUR':'Suriname','SVK':'Slovakia','SVN':'Slovenia','SWE':'Sweden','SWZ':'Eswatini','SXM':'Sint Maarten (Dutch part)',
'SYC':'Seychelles','SYR':'Syrian Arab Republic','TCA':'Turks and Caicos Islands','TCD':'Chad','TGO':'Togo',
'THA':'Thailand','TJK':'Tajikistan','TKL':'Tokelau','TKM':'Turkmenistan','TLS':'Timor-Leste','TON':'Tonga',
'TTO':'Trinidad and Tobago','TUN':'Tunisia','TUR':'Turkey','TUV':'Tuvalu','TWN':'Taiwan, Province of China',
'TZA':'United Republic of Tanzania','UGA':'Uganda','UKR':'Ukraine','UMI':'United States Minor Outlying Islands',
'URY':'Uruguay','USA':'United States of America','UZB':'Uzbekistan','VAT':'Holy See','VCT':'Saint Vincent and the Grenadines',
'VEN':'Venezuela (Bolivarian Republic of)','VGB':'Virgin Islands (British)','VIR':'Virgin Islands (U.S.)','VNM':'Viet Nam',
'VUT':'Vanuatu','WLF':'Wallis and Futuna','WSM':'Samoa','YEM':'Yemen','ZAF':'South Africa','ZMB':'Zambia',
'ZWE':'Zimbabwe','XKX': 'Kosovo'}
ISO_alpha3 = ISOs_Country.keys()

In [3]:
regional_code_dict = {
    "AFE":	"Africa Eastern and Southern",
    "AFW":	"Africa Western and Central",
    "ARB":	"Arab World",
    "CEB":	"Central Europe and the Baltics",
    "CSS":	"Caribbean small states",
    "EAS":	"East Asia & Pacific",
    "ECS":	"Europe & Central Asia",
    "EUU":	"European Union",
    "LCN":	"Latin America & Caribbean",
    "MEA":	"Middle East & North Africa",
    "NAC":	"North America",
    "SAS":	"South Asia",
    "SSF":	"Sub-Saharan Africa"}
regional_code = regional_code_dict.keys()

In [4]:
economic_code_dict = {
'UMC':'Upper middle income',
 'MIC':'Middle income',
 'LMY':'Low & middle income',
 'LIC':'Low income',
 'LMC':'Lower middle income',
 'HIC':'High income'}
economic_code = economic_code_dict.keys()

### Making three dataframe

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/berdikhanova/DS4SG-Global-Inequality/final_assignment/Data/Final/df_final.csv")

In [6]:
df['Indicator Name'].unique()

array(['CO2 emissions from liquid fuel consumption (kt)',
       'GDP per capita (current US$)',
       'Life expectancy at birth, female (years)',
       'Life expectancy at birth, male (years)',
       'Life expectancy at birth, total (years)', 'Population, total',
       'Alternative and nuclear energy (% of total energy use)',
       'Electricity production from coal sources (% of total)',
       'Physicians (per 1,000 people)',
       'Fertilizer consumption (kilograms per hectare of arable land)',
       'Income share held by highest 10%',
       'Income share held by lowest 10%',
       'School enrollment, tertiary (% gross)',
       'Share of youth not in education, employment or training, total (% of youth population)',
       'Forest area (sq. km)',
       'Labor force, female (% of total labor force)',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)',
       'Trained teachers in secondary education (% of total teachers)',
       'Out-of-pocket expenditure (% of current health expenditure)',
       'Suicide mortality rate, female (per 100,000 female population)',
       'Suicide mortality rate, male (per 100,000 male population)',
       'People using safely managed sanitation services (% of population)',
       'Completeness of birth registration (%)'], dtype=object)

In [7]:
df_only_countries = df[df['Country Code'].isin(ISO_alpha3)]
df_only_econstatus = df[df['Country Code'].isin(economic_code)]
df_only_region = df[df['Country Code'].isin(regional_code)]
df_rest =  df[(~df['Country Code'].isin(regional_code))&(~df['Country Code'].isin(economic_code))&(~df['Country Code'].isin(ISO_alpha3))]

In [9]:
pathname = "/Users/norika_machome/GitHub/DS4SG-Global-Inequality/Data/Final/"
def df_csv(df,write_to = None):
    df.to_csv(pathname + write_to + ".csv", index = False)
    print("Written to:", pathname + "/Health/" + write_to + ".csv")
    return df

df_csv(df_only_countries, write_to= "df_final_countries")
df_csv(df_only_econstatus, write_to= "df_final_econstatus")
df_csv(df_only_region, write_to= "df_final_regions")
df_csv(df_rest, write_to= "df_final_rest")

Written to: /Users/norika_machome/GitHub/DS4SG-Global-Inequality/Data/Final//Health/df_final_countries.csv
Written to: /Users/norika_machome/GitHub/DS4SG-Global-Inequality/Data/Final//Health/df_final_econstatus.csv
Written to: /Users/norika_machome/GitHub/DS4SG-Global-Inequality/Data/Final//Health/df_final_regions.csv
Written to: /Users/norika_machome/GitHub/DS4SG-Global-Inequality/Data/Final//Health/df_final_rest.csv

,Country Name,Country Code,Indicator Code,Indicator Name,Date,value,continent
29,Early-demographic dividend,EAR,EG.USE.COMM.CL.ZS,Alternative and nuclear energy (% of total ene...,1960,8.061092e-01,NaN
30,Early-demographic dividend,EAR,EN.ATM.CO2E.LF.KT,CO2 emissions from liquid fuel consumption (kt),1960,2.509855e+05,NaN
31,Early-demographic dividend,EAR,NY.GDP.PCAP.CD,GDP per capita (current US$),1960,1.611654e+02,NaN
32,Early-demographic dividend,EAR,SP.DYN.LE00.FE.IN,"Life expectancy at birth, female (years)",1960,4.557155e+01,NaN
33,Early-demographic dividend,EAR,SP.DYN.LE00.MA.IN,"Life expectancy at birth, male (years)",1960,4.468456e+01,NaN
...,...,...,...,...,...,...,...
173706,World,WLD,SP.POP.TOTL,"Population, total",2021,7.836631e+09,NaN
173707,World,WLD,SL.UEM.TOTL.FE.ZS,"Unemployment, female (% of female labor force)...",2021,6.358262e+00,NaN
173852,Channel Islands,CHI,SL.TLF.TOTL.FE.ZS,"Labor force, female (% of total labor force)",2021,4.417840e+01,NaN
173853,Channel Islands,CHI,SP.POP.TOTL,"Population, total",2021,1.752440e+05,NaN
173854,Channel Islands,CHI,SL.UEM.TOTL.FE.ZS,"Unemployment, female (% of female labor force)...",2021,7.869000e+00,NaN

In [10]:
df_only_region["Indicator Name"].unique()

array(['CO2 emissions from liquid fuel consumption (kt)',
       'GDP per capita (current US$)',
       'Life expectancy at birth, female (years)',
       'Life expectancy at birth, male (years)',
       'Life expectancy at birth, total (years)', 'Population, total',
       'Alternative and nuclear energy (% of total energy use)',
       'Electricity production from coal sources (% of total)',
       'Fertilizer consumption (kilograms per hectare of arable land)',
       'School enrollment, tertiary (% gross)', 'Forest area (sq. km)',
       'Labor force, female (% of total labor force)',
       'Physicians (per 1,000 people)',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)',
       'Share of youth not in education, employment or training, total (% of youth population)',
       'Out-of-pocket expenditure (% of current health expenditure)',
       'Suicide mortality rate, female (per 100,000 female population)',
       'Suicide mortality rate, male (per 100,000 male population)',
       'People using safely managed sanitation services (% of population)',
       'Trained teachers in secondary education (% of total teachers)',
       'Completeness of birth registration (%)'], dtype=object)